/* imports */
@import url('https://use.typekit.net/obi0jwa.css');

/* CSS customer props */

:root {
  /* colours */
  --blue: #323f8e; 
  --white: #fff;
  --black: #000;
  /* --white: #000;
  --black: #fff;
  --blue: #8fc59b; */
  
  /* border */
  --border: solid 3px var(--black);

  /* fonts */
  --BoldFont: paralucent, sans-serif;

  --HeavyFont: paralucent, sans-serif;

  --condensedFont: paralucent-condensed, sans-serif;

  --condensedHeavyFont: paralucent-condensed, sans-serif;

  --bodyFont: paralucent-text, sans-serif;
}

/* global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  scroll-behavior: smooth;
}

.hidden {
  opacity: 0;
}

.grid {
  display: grid;
}

.slowHide {
  animation: slowHide 300ms ease-out forwards;
}

.slowShow {
  animation: slowShow 800ms ease-out forwards;
}

.focusText {
  animation: textBigger 100ms ease-out forwards;
}

.focusTextBack {
  animation: textSmaller 50ms ease-out forwards;
}

.pointer:hover {
  cursor: url('assets/pointerBlue.png');
}


body {
  cursor: url('assets/mouseBlue3.png'), auto;
  background-color: var(--white);
  overscroll-behavior: none;
  scroll-snap-type: y mandatory;
}

h1,
h2,
h3,
p {
  color: var(--blue);
}

h1 {
  font-family: var(--HeavyFont);
  font-weight: 900;
  font-size: 6rem;
  line-height: 80%;
}

h2 {
  font-family: var(--HeavyFont);
  font-weight: 900;
  font-size: 3rem;
  line-height: 75%; /* font-family: var(--BoldFont); */
}

h3 {
  font-family: var(--HeavyFont);
  font-weight: 400;
  line-height: 90%;
  font-size: 1.5rem;
}

p {
  font-family: var(--HeavyFont);
  font-weight: 400;
}

span {
  color: var(--black);
  white-space: nowrap;
}

p.desc {
  font-family: var(--bodyFont);
  color: #fff;
  font-size: 1rem;
  text-transform: none;
}

a {
  text-decoration: none;
  display: block;
  font-family: var(--HeavyFont);
}


.nav {
  width: 100%;
  height: 4vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--white);
  column-gap: 2rem;
}

.nav a {
  text-decoration: none;
  font-family: var(--HeavyFont);
  color: var(--blue);
}

.nav a:visited {
  color: var(--black);
}

.nav a:hover {
  cursor: url(assets/pointerBlue2.png), auto;
}

/* landing area */
/* layout */
#landing {
  position: relative;
  height: 100vh;
  width: 95vw;
  display: flex;
  place-content: center;
  z-index: 2;
  background-color: var(--white);

}

#poster {
  height: 100vh;
  /* width: 55%; */
  /* width: clamp(80% 55% 100%); */
  margin-left: auto;
  margin-right: auto;

  /* border: 2px solid green; */
  display: grid;
  grid-template-columns: 38.2% 1fr 14.5%;
  grid-template-rows: 12.5% 12.5% 25% 16.5% 16.5% 1fr;
}

#subtitle {
  grid-column: 2 / 3;
  margin-top: auto;
}

#heroImg {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  background-image: url(/assets/garethDeNiro.webp);
  background-size: cover;
  background-position: center;
  border: var(--border);
}

#title {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  text-align: right;
}

#is {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

#name {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  text-align: end;
}

#credits {
  grid-column: 1 / -1;
  grid-row: 6 / 7;
  text-align: center;
  line-height: 90%;
}

#rating {
  background-image: url(/assets/r-rating.webp);
  fill: var(--black);
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}

/* Intro section */
/* layout */

#intro {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
}

#aboutMe {
  max-width: 70ch;
  text-transform: none;
  font-family: paralucent-text, sans-serif;
  font-weight: 700;
}

#phonePic1 {
  background-image: url(/assets/phone1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30%;
  height: 50vh;
  margin: 2rem auto 0 auto;
  border: var(--border);
}

/* Project List Section */

#projectList {
  margin-top: 5rem;
  display: grid;
  height: 96vh;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50vh 40vh ;
  row-gap: 2rem;
  scroll-snap-align: start;
}

.projectCard {
  margin-left: auto;
  position: relative;
  height: 25vh;
  width: 80%;
  border: #323f8e;
  grid-row: 2 / 3;
}

.projectCard:hover {
  cursor: url(assets/pointerBlue2.png), auto;
}

#card1 {
  grid-column: 1 / 2;
}

#card2 {
  grid-column: 2 / 3;
}

#card3 {
  grid-column: 3 / 4;
}

.projectImg {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: var(--white) 3px solid;
}

.projectImgThumb {
  height: 100%;
  width: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border: var(--white) 3px solid;
  position: absolute;
  z-index: 1;
  top: 0;
}

.projectTag {
  display: block;
  position: absolute;
  bottom: 15px;
  left: -10%;
  background-color: var(--white);
  padding: 1%;
  z-index: 2;
}

#projectDesc {
  height: 50vh;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  border: var(--border);
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  max-width: 90%;
  padding: 1%;
  display: flex;
  column-gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

#projectDesc > p {
  max-width: 30%;
  bottom: 0;
}

#projectMedia {
  /* width: fit-content; */
  height: 100%;
}

#projectMedia video {
  width: 100%;
  max-height: 100%;
}

#img1 {
  background-image: url(/assets/GJCupTrue.webp);
  background-size: cover;
  max-width: 80%;
}

#img1t {
  background-image: url(/assets/GJCup.webp);
  background-size: cover;
  max-width: 80%;
}

#img2 {
  background-image: url(/assets/deepDiveThumbTrue.webp);
  background-size: contain;
  max-width: 80%;
}

#img2t {
  background-image: url(/assets/deepDiveThumb.webp);
  background-size: contain;
  max-width: 80%;
}


#img3 {
  background-image: url(/assets/DystopiaThumbTrue.webp);
  background-size: cover;
  max-width: 80%;
}

#img3t {
  background-image: url(/assets/DystopiaThumb.webp);
  background-size: cover;
  max-width: 80%;
}

/*  Contact Me Section*/

#contact {
  margin-top: 2rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  max-width: 90%;
}

#contact p {
  max-width: 70ch;
  text-align: center;
}


/* footer */
footer {
  width: 100vw;
  background-color: var(--blue);
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

footer a {
  color: var(--white);
}

.footItem ul {
  display: flex;
  flex-direction: row;
  width: 30%;
  list-style: none;
  column-gap: 1rem;
}
/* Animation section */

.revealImg {
  animation-duration: 500ms;
  border: var(--black) 3px solid;
  filter: none;
}

.revealTag {
  font-size: 2rem;
}

@keyframes slowHide {
  from {
    opacity: 1;

  } to {
    opacity: 0;
  } 
}

@keyframes slowShow {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes textBigger {
  from {
    font-size: inherit;
    border: #fff;
  } to {
    font-size: 1.2rem;
    transform: translateY(30%);
    border: var(--border)
  }
}

@keyframes textSmaller {
  from{
    font-size: 1.2rem;
    transform: translateY(30%);
    border: var(--border)
  } to {
    font-size: inherit;
    border: #fff;
  }
}

/* responsivity */


@media screen and (max-width: 650px) {
  #poster {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90vw;
    margin-top: 1vh;
    margin-left: auto;
  }

  #poster * {
    margin: 0;
  }

  #heroImg {
    height: 50vh;
  }

  #intro {
    margin-top: 7rem;
    margin-left: 5vw;
  }

  #phonePic1 {
    width: 80vw;
  }

  #projectList {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  footer {
    flex-direction: column;
    height: 50vh;
  }
}
